<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sign in</title>
    </head>
    <body>
        <div>
            <form action="{{ url_for("sign_in") }}" method="post">
                {% if errors and errors.form %}
                    <div>
                        {% if errors.form|length > 1 %}
                            <ul>
                                {% for error in errors.form %}<li>{{ error }}</li>{% endfor %}
                            </ul>
                        {% else %}
                            <span>{{ errors.form[0] }}</span>
                        {% endif %}
                    </div>
                {% endif %}
                <div>
                    <input type="hidden" name="xsrf" value="{{ csrf }}">
                </div>
                <div class="form-group">
                    {% if errors and errors.email and errors.email|length > 1 %}
                        <ul>
                            {% for error in errors.email %}<li>{{ error }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                    <label for="email">Email</label>
                    <input type="email"
                           name="email"
                           id="email"
                           required
                           autocomplete="email"
                           value="{{ email }}">
                    {% if errors and errors.email and errors.email|length == 1 %}<span>{{ errors.email[0] }}</span>{% endif %}
                </div>
                <div class="form-group">
                    {% if errors and errors.password and errors.password|length > 1 %}
                        <ul>
                            {% for error in errors.password %}<li>{{ error }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                    <label for="password">Password</label>
                    <input type="password"
                           name="password"
                           id="password"
                           required
                           autocomplete="current-password"
                           value="{{ password }}">
                    {% if errors and errors.password and errors.password|length == 1 %}<span>{{ errors.password[0] }}</span>{% endif %}
                </div>
                <div>
                    <button type="submit">Sign in</button>
                </div>
            </form>
            <p>
                Don't have an account? <a href="{{ url_for("get_sign_up") }}">Sign Up</a>
            </p>
        </div>
    </body>
</html>
